<!-- Partenaires -->

<section class="section partenaires mt-5">
    <div class="container">
        <Datatables ref="datatablesPartenaires" v-bind:proprietesDatatables="proprietesDatatablesPartenaires" idDatatables="datatablesPartenaires"></Datatables>

        <ModalSpecifique ref="modalEditePartenaire" idModal="modalEditeContactsPartenaire" tailleModal="modal-xl">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitrePartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <input type="hidden" id="inputIdentifiantPartenaire" value="0" />
                <div class="form-group">
                    <label for="inputNomPartenaire">Nom Partenaire:</label>
                    <input type="text" id="inputNomPartenaire" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputDomaineDeCompetencePartenaire">Domaine de compétence Partenaire:</label>
                    <input type="text" id="inputDomaineDeCompetencePartenaire" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputLatitudePartenaire">Latitude Partenaire:</label>
                    <input type="text" id="inputLatitudePartenaire" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputLongitudePartenaire">Longitude Partenaire:</label>
                    <input type="text" id="inputLongitudePartenaire" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="selectListeSpecialitesPartenaire">Liste Specialités Partenaire:</label>
                    <select class="custom-select form-control" id="selectListeSpecialitesPartenaire"></select>
                    <ul class="list-group" id="listeSousSpecialitesPartenaire"></ul>
                </div>
                <div class="form-group">
                    <label for="listeMobilitesPartenaire">Liste Mobiités Partenaire:</label>
                    <ul class="list-group" id="listeMobilitesPartenaire"></ul>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeAidesFinancieresPartenaire">Liste Aides Financières Partenaire:</label>
                        <select class="custom-select form-control" id="selectListeAidesFinancieresPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterAideFinancierePartenaire" class="btn btn-secondary mx-auto">Ajouter Aide Financière</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerAideFinancierePartenaire" class="btn btn-secondary mx-auto">Supprimer Aide Financière</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeContactsPartenaire">Liste Contacts Partenaire:</label>
                        <select class="custom-select form-control" id="selectListeContactsPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterContactPartenaire" class="btn btn-secondary mx-auto">Ajouter Contact</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerContactPartenaire" class="btn btn-secondary mx-auto">Supprimer Contact</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textareaInformationLogementPartenaire">Information Logement Partenaire:</label>
                    <textarea class="form-control" id="textareaInformationLogementPartenaire" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="textareaInformationCoutPartenaire">Information Cout Partenaire:</label>
                    <textarea class="form-control" id="textareaInformationCoutPartenaire" rows="3"></textarea>
                </div>
            </form>

            <button slot="modalFooter" type="button" id="boutonEditePartenaire" class="btn btn-success">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>


        <ModalSpecifique ref="modalEditeAidesFinancieresPartenaire" idModal="modalEditeAidesFinancieresPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreAidesFinancieresPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesAidesFinancieresPartenaires" v-bind:proprietesDatatables="proprietesDatatablesAidesFinancieresPartenaires" idDatatables="datatablesAidesFinancieresPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeAidesFinancieresPartenaire" class="btn btn-success">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeContactsPartenaire" idModal="modalEditeContactsPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreContactsPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesContactsPartenaires" v-bind:proprietesDatatables="proprietesDatatablesContactsPartenaires" idDatatables="datatablesContactsPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeContactsPartenaire" class="btn btn-success">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <SpinnerSpecifique ref="spinner"></SpinnerSpecifique>
    </div>
</section>

<!-- /Partenaires -->
