/* Page Partenaires */
body {
}

.dt-buttons {
    margin-bottom: 0.85em;
}

#modalErreur {
    z-index: 2000;
}

/* Mapboxgl et Geocoder */
#geocoderLocalisation {
    width: 100%;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

#geocoderLocalisation input {
    outline: none;
}

#mapListePartenaires {
    height: 500px;
}
/* Mapboxgl et Geocoder */
